 <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: center;">
    <img src="../img/adriano.jpg" width="300px;">
    <div class="text-center margin-top-sm">
      <p>Adriano S. Fonseca</p>
    
    <div class="contact-media">
      <div class="col-lg-5 col-lg-offset-1 text-center">
          <a href="https://br.linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin fa-1x wow bounceIn" data-wow-delay=".1s"></i>
              <p></p>
          </a>
      </div>
      <div class="col-lg-3 col-lg-offset-1 text-center">
          <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github fa-1x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
      </div>
    </div>
    </div>
    <br>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9" style="text-align: justify;">
    <p>Arquiteto de software, professor, consultor, palestrante, especialista em sistemas distribuidos e experiente em vários campos aderentes a cultura DevOps.</p>
    <p>Formado em Engenharia de Sistemas pela Universidade Estadual do Rio Grande do Sul, atua há mais de 13 anos no mercado de tecnologia da informação, tendo uma vasta
       experiência em operação e desenvolvimento de sistemas. Tendo participado de projetos no Brasil e no exterior.</p>
    <p>Atualmente é fundador, CO e CTO da Allumy, uma empresa especializada que presta treinamentos e consultoria na área de desenvolvimento e operação de sistemas.</p>
    <p>Participou da formação de vários profissionais que hoje são destaque no mercado de tecnologia. </p>
  </div>
</div>
