<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/cursos">Cursos</a></li>
            <li><a href="{{ site.baseurl }}/#ead">EAD</a>
            <li><a href="{{ site.baseurl }}/#presenciais">Presencial</a>
            <li><a href="{{ site.baseurl }}/#call-to-action">Diferencial</a>
            <li><a href="{{ site.baseurl }}/contact">Contato</a></li>
            <li><a href="{{ site.baseurl }}/blog/category/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
